.wrapper {
  max-width: $content-width;
  margin: auto;

  @include media-mobile {
    margin: 0px 15px;
  }
}

.wrapper_padding {
  padding: 5rem 0;
}

.wrapper_small {
  margin-top: -5rem;
  
  @include media-mobile {
    margin: -1rem 5px;
  }
}
