.carousel {
  display: flex;
  align-items: center;
  gap: 25px;
  margin: 5rem 0;

  @include media-mobile {
    gap: 5px;
  }
}

.slides-block {
  overflow: hidden;
}

.slides {
  display: flex;
  gap: 22px;
  transition: transform 0.5s ease-in-out;
}

.slide {
  width: 360px;
  height: 100%;

  @include media-mobile {
    width: 100%;
  }
}

.carousel__btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-background;
  border-radius: 50%;
  border: none;

  @include media-mobile {
    width: 25px;
    height: 25px;
    margin-bottom: 46px;
  }
}

.carousel_title {
  @include media-mobile {
    margin: 0px 20px;
  }
}

.carousel_text {
  @include font($size: 1.5rem);
  margin-top: 14px;
}

.carousel__img {
  flex: 0 0 50%;

  @include media-mobile {
    flex: 0 0 100%;
  }
}

.arrow {
  width: 20px;
  height: 20px;

  @include media-mobile {
    width: 10px;
    height: 10px;
  }
}
